In [1]:
d = { "Berlin" : "BER", "Helsinki" : "HEL", "Saigon" : "SG" }
print(d)

{'Berlin': 'BER', 'Helsinki': 'HEL', 'Saigon': 'SG'}

In [3]:
d["Budapest"] = "BUD"
print(d)

{'Berlin': 'BER', 'Helsinki': 'HEL', 'Saigon': 'SG', 'Budapest': 'BUD'}

In [4]:
print(d["Helsinki"])

HEL

In [6]:
del d["Budapest"]
print(d)

{'Berlin': 'BER', 'Helsinki': 'HEL', 'Saigon': 'SG'}

In [7]:
if ("Saigon" in d):
    print(d["Saigon"])

SG

In [8]:
print(d.get("Dresden"))

None

In [10]:
error = {1 : "Dresden", 1: "Berlin", 3: "Leipzig"}
print(error)

{1: 'Berlin', 3: 'Leipzig'}

In [11]:
for key in d:
    value = d[key]
    print(key + " : " + value)

Berlin : BER
Helsinki : HEL
Saigon : SG

In [13]:
for key, value in d.items():
    print(key + " : " + value)

Berlin : BER
Helsinki : HEL
Saigon : SG