In [22]:
student1 = "Max"
student2 = "Monika"
student3 = "Erik"
student4 = "Franziska"

In [23]:
students = [ "Max", "Monika", "Erik", "Franziska" ]

In [24]:
print(students[1])

Monika

In [25]:
print(students)

['Max', 'Monika', 'Erik', 'Franziska']

In [26]:
students.append("Moritz")

In [27]:
print(students)

['Max', 'Monika', 'Erik', 'Franziska', 'Moritz']

In [28]:
mixed = ["Max", 1]

In [29]:
print(mixed)

['Max', 1]

In [30]:
print(mixed[0]+str(mixed[1]))

Max1

In [31]:
print(len(students))

5

In [32]:
print(students[0] + " & " + students[4])

Max & Moritz

In [33]:
last = students.pop()
print(last)
print(students)

Moritz
['Max', 'Monika', 'Erik', 'Franziska']