## Pandas: Daten sortieren

Oft möchtest du die Daten noch in einer Spalte sortieren lassen. Das zeige ich dir hier in dieser Lektion!

In [6]:
import pandas as pd
df = pd.read_csv("../data/astronauts.csv")

df.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN

### Daten sortieren mit `sort_values()`

Mit **`sort_values()`** kannst du das DataFrame nach den Einträgen in einer bestimmten Spalte, die du als Parameter übergibst, sortieren.

In [8]:
df2 = df.sort_values("Name")
df2

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
297,Alan B. Shepard Jr.,1959.0,1.0,Deceased,11/18/1923,"East Derry, NH",Male,US Naval Academy,Naval Sciences,NaN,Rear Admiral,US Navy (Retired),2,216,2,9.0,"Mercury 3, Apollo 14",7/21/1998,NaN
264,Alan G. Poindexter,1998.0,17.0,Deceased,11/5/1961,"Pasadena, CA",Male,Georgia Institute of Technology; US Naval Post...,Aerospace Engineering,Aeronautical Engineering,Captain,US Navy,2,669,0,0.0,"STS-122 (Atlantis), STS-131 (Discovery)",7/1/2012,NaN
25,Alan L. Bean,1963.0,3.0,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
282,Albert Sacco Jr.,NaN,NaN,Retired,5/3/1949,"Boston, MA",Male,Northeastern University; MIT,Chemical Engineering,Chemical Engineering,NaN,NaN,1,381,0,0.0,STS-73 (Columbia),NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
91,Alvin B. Drew Jr.,2000.0,18.0,Active,11/5/1962,"Washington, DC",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Physics & Astronautical Engineering,Aerospace Science; Political Science,Colonel,US Air Force,2,613,2,13.0,"STS-118 (Endeavor), STS-133 (Discovery)",NaN,NaN
106,Andrew J. Feustel,2000.0,18.0,Active,8/25/1965,"Lancaster, PA",Male,Purdue University; Queen’s University-Canada,Solid Earth Sciences,Geophysics; Seismology,NaN,NaN,2,687,6,42.0,"STS-125 (Atlantis), STS-134 (Endeavor)",NaN,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
316,Andrew S. W. Thomas,1992.0,14.0,Management,12/18/1951,"Adelaide, Australia",Male,University of Adelaide,Mechanical Engineering,Mechanical Engineering,NaN,NaN,4,4257,1,6.0,"STS-77 (Endeavor), STS-89/91 (Endeavor/Discove...",NaN,NaN
109,Anna L. Fisher,1978.0,8.0,Management,8/24/1949,"New York, NY",Female,University of California-Los Angeles,Chemistry,Chemistry; Medicine,NaN,NaN,1,191,0,0.0,STS 51-A (Discovery),NaN,NaN
99,Anthony W. England,1967.0,6.0,Retired,5/15/1942,"Indianapolis, IN",Male,MIT,Geology,Geology; Geophysics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
234,Barbara R. Morgan,1998.0,17.0,Retired,11/28/1951,"Fresno, CA",Female,Stanford University,Human Biology,NaN,NaN,NaN,1,305,0,0.0,STS-118 (Endeavor),NaN,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,12/29/1962,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaN,NaN
148,Bernard A. Harris Jr.,1990.0,13.0,Retired,6/26/1956,"Temple, TX",Male,University of Houston; Texas Tech University,Biology,Medicine,NaN,NaN,2,438,1,5.0,"STS-55 (Columbia), STS-63 (Discovery)",NaN,NaN
239,Bill Nelson,NaN,NaN,Retired,9/29/1942,"Miami, FL",Male,Yale University; University of Virginia,NaN,Law,Captain,US Army (Retired),1,146,0,0.0,STS 61-C (Columbia),NaN,NaN
94,Bonnie J. Dunbar,1980.0,9.0,Retired,3/3/1949,"Sunnyside, WA",Female,University of Washington; University of Houston,Ceramic Engineering,Ceramic Engineering; Biomedical Engineering,NaN,NaN,5,1207,0,0.0,"STS 61-A (Challenger), STS-32 (Columbia), STS-...",NaN,NaN
176,Brent W. Jett,1992.0,14.0,Retired,10/5/1958,"Pontiac, MI",Male,US Naval Academy; US Naval Postgraduate School,Aerospace Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1002,0,0.0,"STS-72 (Endeavor), STS-81 (Atlantis), STS-97 (...",NaN,NaN
296,Brewster H. Shaw Jr.,1978.0,8.0,Retired,5/16/1945,"Cass City, MI",Male,University of Wisconsin,Engineering Mechanics,Engineering Mechanics,Colonel,US Air Force (Retired),3,533,0,0.0,"STS-9 (Columbia), STS 61-B (Atlantis), STS-28 ...",NaN,NaN
92,Brian Duffy,1985.0,11.0,Retired,6/20/1953,"Boston, MA",Male,US Air Force Academy; University of Southern C...,Mathematics,Systems Management,Colonel,US Air Force (Retired),4,977,0,0.0,"STS-45 (Atlantis), STS-57 (Endeavor), STS-72 (...",NaN,NaN
246,Brian T. O'Leary,1967.0,6.0,Deceased,1/27/1940,"Boston, MA",Male,Williams College; Georgetown University; Unive...,Physics,Astronomy,NaN,NaN,0,0,0,0.0,NaN,7/28/2011,NaN
228,Bruce E. Melnick,1987.0,12.0,Retired,12/5/1949,"New York, NY",Male,US Coast Guard Academy; West Florida University,Engineering,Aeronautical Systems,Commander,US Coast Guard (Retired),2,311,0,0.0,"STS-41 (Discovery), STS-49 (Endeavor)",NaN,NaN
221,Bruce McCandless II,1966.0,5.0,Retired,6/8/1937,"Boston, MA",Male,US Naval Academy; Stanford University; Univers...,NaN,Electrical Engineering; Business Administration,Captain,US Navy (Retired),2,312,2,12.0,"STS 41-B (Challenger), STS-31 (Discovery)",NaN,NaN
245,Bryan D. O'Connor,1980.0,9.0,Retired,9/6/1946,"Orange, CA",Male,US Naval Academy; West Florida University,Engineering,Aeronautical Systems,Colonel,US Marine Corps (Retired),2,383,0,0.0,"STS 61-B (Atlantis), STS-40 (Columbia)",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
194,Byron K. Lichtenberg,NaN,NaN,Retired,2/19/1948,"Stroudsburg, PA",Male,Brown University; MIT,Aerospace Engineering,Mechanical Engineering; Biomedical Engineering,NaN,NaN,2,461,0,0.0,"STS-9 (Columbia), STS-45 (Atlantis)",NaN,NaN
118,C. Gordon Fullerton,1969.0,7.0,Retired,10/11/1936,"Rochester, NY",Male,California Institute of Technology,Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force (Retired),2,382,0,0.0,"STS-3 (Columbia), STS 51-F (Challenger)",NaN,NaN
111,C. Michael Foale,1987.0,12.0,Active,1/6/1957,"Louth, England",Male,Cambridge University,Physics,Laboratory Astrophysics,NaN,NaN,6,8970,4,22.0,"STS-45 (Atlantis), STS-56 (Discovery), STS-63 ...",NaN,NaN
335,Carl E. Walz,1990.0,13.0,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
227,Carl J. Meade,1985.0,11.0,Retired,11/16/1950,"Chanute Air Force Base, IL",Male,University of Texas; California Institute of T...,Electronics Engineering,Electronics Engineering,Colonel,US Air Force (Retired),3,712,1,6.0,"STS-38 (Atlantis), STS-50 (Columbia), STS-64 (...",NaN,NaN
242,Carlos I. Noriega,1995.0,15.0,Retired,10/8/1959,"Lima, Peru",Male,University of Southern California; US Naval Po...,Computer Science,Computer Science; Space Systems Operations,Lieutenant Colonel,US Marine Corps (Retired),2,481,3,19.0,"STS-84 (Atlantis), STS-97 (Endeavor)",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,Terry W. Virts Jr.,2000.0,18.0,Active,12/1/1967,"Baltimore, MD",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Mathematics,Aeronautics,Colonel,US Air Force,2,5122,3,18.0,"STS-130 (Endeavor), ISS-42/43 (Soyuz)",NaN,NaN
116,Theodore C. Freeman,1963.0,3.0,Deceased,2/18/1930,"Haversford, PA",Male,US Naval Academy; University of Michigan,NaN,Aeronautical Engineering,Captain,US Air Force,0,0,0,0.0,NaN,10/31/1964,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
179,Thomas D. Jones,1990.0,13.0,Retired,1/22/1955,"Baltimore, MD",Male,US Air Force Academy; University of Arizona,NaN,Planetary Science,NaN,NaN,4,1272,3,20.0,"STS-59 (Endeavor), STS-68 (Endeavor), STS-80 (...",NaN,NaN
213,Thomas H. Marshburn,2004.0,19.0,Active,8/29/1960,"Statesville, NC",Male,Davidson College; University of Virginia; Wake...,Physics,Engineering Physics; Medicine; Medical Science,NaN,NaN,2,3871,4,24.0,"STS-127 (Endeavor), ISS-34/35 (Soyuz)",NaN,NaN
155,Thomas J. Hennen,NaN,NaN,Retired,8/17/1952,"Albany, GA",Male,NaN,NaN,NaN,Chief Warrant Officer,US Army (Retired),1,166,0,0.0,STS-44 (Atlantis),NaN,NaN
216,Thomas K. Mattingly II,1966.0,5.0,Retired,3/17/1936,"Chicago, IL",Male,Auburn University,Aeronautical Engineering,NaN,Rear Admiral,US Navy (Retired),3,508,1,1.0,"Apollo 16, STS-4 (Columbia), STS 51-C (Discovery)",NaN,NaN
305,Thomas P. Stafford,1962.0,2.0,Retired,9/17/1930,"Weatherford, OK",Male,US Naval Academy,NaN,NaN,Lieutenant General,US Air Force (Retired),4,507,0,0.0,"Gemini 6, Gemini 9, Apollo 10, Apollo-Soyuz Te...",NaN,NaN
81,Timothy J. Creamer,1998.0,17.0,Management,11/15/1959,"Ft. Huachuca, AZ",Male,Loyola College; MIT,Chemistry,Physics,Colonel,US Army (Retired),1,3917,0,0.0,ISS-22/23 (Soyuz),NaN,NaN
187,Timothy L. Kopra,2000.0,18.0,Active,4/9/1963,"Austin, TX",Male,US Military Academy; Georgia Institute of Tech...,Computer Science,Aerospace Engineering; Strategic Studies,Colonel,US Army (Retired),2,5857,3,13.0,"STS-127/128 (Endeavor/Discovery), ISS-46/47 (S...",NaN,NaN
52,Tracy E. Caldwell (Dyson),1998.0,17.0,Active,8/14/1969,"Arcadia, CA",Female,California State University-Fullerton; Univers...,Chemistry,Physical Chemistry,NaN,NaN,2,4531,3,23.0,"STS-118 (Endeavor), ISS-23/24 (Soyuz)",NaN,NaN
37,Vance D. Brand,1966.0,5.0,Retired,5/9/1931,"Longmont, CA",Male,University of Colorado; University of Californ...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",NaN,NaN
140,Virgil I. Grissom,1959.0,1.0,Deceased,4/3/1926,"Mitchell, IN",Male,Purdue University,Mechanical Engineering,NaN,Lieutenant Colonel,US Air Force,2,5,0,0.0,"Mercury 4, Gemini 3, Apollo 1",1/27/1967,Apollo 1
86,Walter Cunningham,1963.0,3.0,Retired,3/16/1932,"Creston, IA",Male,University of California-Los Angeles,Physics,Physics,Colonel,US Marine Corps Reserves,1,260,0,0.0,Apollo 7,NaN,NaN
284,Walter M. Schirra Jr.,1959.0,1.0,Deceased,3/12/1923,"Hackensack, NJ",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),3,295,0,0.0,"Mercury 8, Gemini 6, Apollo 7",5/2/2007,NaN
189,Wendy B. Lawrence,1992.0,14.0,Retired,7/2/1959,"Jacksonville, FL",Female,US Naval Academy; MIT,Ocean Engineering,Ocean Engineering,Captain,US Navy (Retired),4,1223,0,0.0,"STS-67 (Endeavor), STS-86 (Atlantis), STS-91 (...",NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
248,William A. Oefelein,1998.0,17.0,Retired,3/29/1965,"Ft. Belvoir, VA",Male,Oregon State University; University of Tennessee,Electrical Engineering,Aviation Systems,Commander,US Navy (Retired),1,308,0,0.0,STS-116 (Discovery),NaN,NaN
253,William A. Pailes,NaN,NaN,Retired,6/26/1952,"Hackensack, NJ",Male,US Air Force Academy; Texas A&M University,Computer Science,Computer Science,Colonel,US Air Force (Retired),1,97,0,0.0,STS 51-J (Atlantis),NaN,NaN
192,William B. Lenoir,1967.0,6.0,Deceased,3/14/1939,"Miami, FL",Male,MIT,Electrical Engineering,Electrical Engineering,NaN,NaN,1,122,0,0.0,STS-5 (Columbia),8/26/2012,NaN
222,William C. McCool,1996.0,16.0,Deceased,9/23/1961,"San Diego, CA",Male,US Naval Academy; University of Maryland; US N...,Naval Sciences,Computer Science; Aeronautical Engineering,Commander,US Navy,1,382,0,0.0,STS-107 (Columbia),2/1/2003,STS-107 (Columbia)
320,William E. Thornton,1967.0,6.0,Retired,4/14/1929,"Faison, NC",Male,University of North Carolina,Physics,Medicine,NaN,NaN,2,315,0,0.0,"STS-8 (Challenger), STS 51-B (Challenger)",NaN,NaN
110,William F. Fisher,1980.0,9.0,Retired,4/1/1946,"Dallas, TX",Male,Stanford University; University of Houston; Un...,NaN,Engineering; Medicine,NaN,NaN,1,170,2,12.0,STS 51-I (Discovery),NaN,NaN
267,William F. Readdy,1987.0,12.0,Retired,1/24/1952,"Quonset Point, RI",Male,US Naval Academy,Aerospace Engineering,NaN,Captain,US Navy (Retired),3,672,0,0.0,"STS-42 (Discovery), STS-51 (Discovery), STS-79...",NaN,NaN
138,William G. Gregory,1990.0,13.0,Retired,5/14/1957,"Lockport, NY",Male,US Air Force Academy; Columbia University; Tro...,Engineering Science,Engineering Mechanics; Business Management,Lieutenant Colonel,US Air Force,1,399,0,0.0,STS-67 (Endeavor),NaN,NaN
298,William M. Shepherd,1984.0,10.0,Retired,7/26/1949,"Oak Ridge, TN",Male,US Naval Academy; MIT,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),4,3823,0,0.0,"STS-37 (Atlantis), STS-41 (Discovery), STS-52 ...",NaN,NaN
263,William R. Pogue,1966.0,5.0,Retired,1/23/1930,"Okemah, OK",Male,Oklahoma Baptist University; Oklahoma State Un...,Education,Mathematics,Colonel,US Air Force (Retired),1,2017,2,13.0,Skylab 4,NaN,NaN
218,William S. McArthur Jr.,1990.0,3.0,Management,7/26/1951,"Laurinburg, NC",Male,US Military Academy; Georgia Institute of Tech...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army (Retired),4,5398,4,24.0,"STS-58 (Columbia), STS-74 (Atlantis), STS-92 (...",NaN,NaN
289,Winston E. Scott,1992.0,14.0,Retired,8/6/1950,"Miami, FL",Male,Florida State University; US Naval Postgraduat...,Music,Aeronautical Engineering,Captain,US Navy (Retired),2,590,3,19.0,"STS-72 (Endeavor), STS-87 (Columbia)",NaN,NaN
50,Yvonne D. Cagle,1996.0,16.0,Management,4/24/1959,"West Point, NY",Female,San Francisco State University,Biochemistry,NaN,Colonel,US Air Force,0,0,0,0.0,NaN,NaN,NaN

Standardmäßig wird dann aufsteigend sortiert. Mit dem `ascending` - Attribut kannst du dieses Verhalten auch umstellen:

In [9]:
df2 = df.sort_values("Name", ascending = False)
df2

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
50,Yvonne D. Cagle,1996.0,16.0,Management,4/24/1959,"West Point, NY",Female,San Francisco State University,Biochemistry,NaN,Colonel,US Air Force,0,0,0,0.0,NaN,NaN,NaN
289,Winston E. Scott,1992.0,14.0,Retired,8/6/1950,"Miami, FL",Male,Florida State University; US Naval Postgraduat...,Music,Aeronautical Engineering,Captain,US Navy (Retired),2,590,3,19.0,"STS-72 (Endeavor), STS-87 (Columbia)",NaN,NaN
218,William S. McArthur Jr.,1990.0,3.0,Management,7/26/1951,"Laurinburg, NC",Male,US Military Academy; Georgia Institute of Tech...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army (Retired),4,5398,4,24.0,"STS-58 (Columbia), STS-74 (Atlantis), STS-92 (...",NaN,NaN
263,William R. Pogue,1966.0,5.0,Retired,1/23/1930,"Okemah, OK",Male,Oklahoma Baptist University; Oklahoma State Un...,Education,Mathematics,Colonel,US Air Force (Retired),1,2017,2,13.0,Skylab 4,NaN,NaN
298,William M. Shepherd,1984.0,10.0,Retired,7/26/1949,"Oak Ridge, TN",Male,US Naval Academy; MIT,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),4,3823,0,0.0,"STS-37 (Atlantis), STS-41 (Discovery), STS-52 ...",NaN,NaN
138,William G. Gregory,1990.0,13.0,Retired,5/14/1957,"Lockport, NY",Male,US Air Force Academy; Columbia University; Tro...,Engineering Science,Engineering Mechanics; Business Management,Lieutenant Colonel,US Air Force,1,399,0,0.0,STS-67 (Endeavor),NaN,NaN
267,William F. Readdy,1987.0,12.0,Retired,1/24/1952,"Quonset Point, RI",Male,US Naval Academy,Aerospace Engineering,NaN,Captain,US Navy (Retired),3,672,0,0.0,"STS-42 (Discovery), STS-51 (Discovery), STS-79...",NaN,NaN
110,William F. Fisher,1980.0,9.0,Retired,4/1/1946,"Dallas, TX",Male,Stanford University; University of Houston; Un...,NaN,Engineering; Medicine,NaN,NaN,1,170,2,12.0,STS 51-I (Discovery),NaN,NaN
320,William E. Thornton,1967.0,6.0,Retired,4/14/1929,"Faison, NC",Male,University of North Carolina,Physics,Medicine,NaN,NaN,2,315,0,0.0,"STS-8 (Challenger), STS 51-B (Challenger)",NaN,NaN
222,William C. McCool,1996.0,16.0,Deceased,9/23/1961,"San Diego, CA",Male,US Naval Academy; University of Maryland; US N...,Naval Sciences,Computer Science; Aeronautical Engineering,Commander,US Navy,1,382,0,0.0,STS-107 (Columbia),2/1/2003,STS-107 (Columbia)
192,William B. Lenoir,1967.0,6.0,Deceased,3/14/1939,"Miami, FL",Male,MIT,Electrical Engineering,Electrical Engineering,NaN,NaN,1,122,0,0.0,STS-5 (Columbia),8/26/2012,NaN
253,William A. Pailes,NaN,NaN,Retired,6/26/1952,"Hackensack, NJ",Male,US Air Force Academy; Texas A&M University,Computer Science,Computer Science,Colonel,US Air Force (Retired),1,97,0,0.0,STS 51-J (Atlantis),NaN,NaN
248,William A. Oefelein,1998.0,17.0,Retired,3/29/1965,"Ft. Belvoir, VA",Male,Oregon State University; University of Tennessee,Electrical Engineering,Aviation Systems,Commander,US Navy (Retired),1,308,0,0.0,STS-116 (Discovery),NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
189,Wendy B. Lawrence,1992.0,14.0,Retired,7/2/1959,"Jacksonville, FL",Female,US Naval Academy; MIT,Ocean Engineering,Ocean Engineering,Captain,US Navy (Retired),4,1223,0,0.0,"STS-67 (Endeavor), STS-86 (Atlantis), STS-91 (...",NaN,NaN
284,Walter M. Schirra Jr.,1959.0,1.0,Deceased,3/12/1923,"Hackensack, NJ",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),3,295,0,0.0,"Mercury 8, Gemini 6, Apollo 7",5/2/2007,NaN
86,Walter Cunningham,1963.0,3.0,Retired,3/16/1932,"Creston, IA",Male,University of California-Los Angeles,Physics,Physics,Colonel,US Marine Corps Reserves,1,260,0,0.0,Apollo 7,NaN,NaN
140,Virgil I. Grissom,1959.0,1.0,Deceased,4/3/1926,"Mitchell, IN",Male,Purdue University,Mechanical Engineering,NaN,Lieutenant Colonel,US Air Force,2,5,0,0.0,"Mercury 4, Gemini 3, Apollo 1",1/27/1967,Apollo 1
37,Vance D. Brand,1966.0,5.0,Retired,5/9/1931,"Longmont, CA",Male,University of Colorado; University of Californ...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",NaN,NaN
52,Tracy E. Caldwell (Dyson),1998.0,17.0,Active,8/14/1969,"Arcadia, CA",Female,California State University-Fullerton; Univers...,Chemistry,Physical Chemistry,NaN,NaN,2,4531,3,23.0,"STS-118 (Endeavor), ISS-23/24 (Soyuz)",NaN,NaN
187,Timothy L. Kopra,2000.0,18.0,Active,4/9/1963,"Austin, TX",Male,US Military Academy; Georgia Institute of Tech...,Computer Science,Aerospace Engineering; Strategic Studies,Colonel,US Army (Retired),2,5857,3,13.0,"STS-127/128 (Endeavor/Discovery), ISS-46/47 (S...",NaN,NaN
81,Timothy J. Creamer,1998.0,17.0,Management,11/15/1959,"Ft. Huachuca, AZ",Male,Loyola College; MIT,Chemistry,Physics,Colonel,US Army (Retired),1,3917,0,0.0,ISS-22/23 (Soyuz),NaN,NaN
305,Thomas P. Stafford,1962.0,2.0,Retired,9/17/1930,"Weatherford, OK",Male,US Naval Academy,NaN,NaN,Lieutenant General,US Air Force (Retired),4,507,0,0.0,"Gemini 6, Gemini 9, Apollo 10, Apollo-Soyuz Te...",NaN,NaN
216,Thomas K. Mattingly II,1966.0,5.0,Retired,3/17/1936,"Chicago, IL",Male,Auburn University,Aeronautical Engineering,NaN,Rear Admiral,US Navy (Retired),3,508,1,1.0,"Apollo 16, STS-4 (Columbia), STS 51-C (Discovery)",NaN,NaN
155,Thomas J. Hennen,NaN,NaN,Retired,8/17/1952,"Albany, GA",Male,NaN,NaN,NaN,Chief Warrant Officer,US Army (Retired),1,166,0,0.0,STS-44 (Atlantis),NaN,NaN
213,Thomas H. Marshburn,2004.0,19.0,Active,8/29/1960,"Statesville, NC",Male,Davidson College; University of Virginia; Wake...,Physics,Engineering Physics; Medicine; Medical Science,NaN,NaN,2,3871,4,24.0,"STS-127 (Endeavor), ISS-34/35 (Soyuz)",NaN,NaN
179,Thomas D. Jones,1990.0,13.0,Retired,1/22/1955,"Baltimore, MD",Male,US Air Force Academy; University of Arizona,NaN,Planetary Science,NaN,NaN,4,1272,3,20.0,"STS-59 (Endeavor), STS-68 (Endeavor), STS-80 (...",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
116,Theodore C. Freeman,1963.0,3.0,Deceased,2/18/1930,"Haversford, PA",Male,US Naval Academy; University of Michigan,NaN,Aeronautical Engineering,Captain,US Air Force,0,0,0,0.0,NaN,10/31/1964,NaN
328,Terry W. Virts Jr.,2000.0,18.0,Active,12/1/1967,"Baltimore, MD",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Mathematics,Aeronautics,Colonel,US Air Force,2,5122,3,18.0,"STS-130 (Endeavor), ISS-42/43 (Soyuz)",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,Carlos I. Noriega,1995.0,15.0,Retired,10/8/1959,"Lima, Peru",Male,University of Southern California; US Naval Po...,Computer Science,Computer Science; Space Systems Operations,Lieutenant Colonel,US Marine Corps (Retired),2,481,3,19.0,"STS-84 (Atlantis), STS-97 (Endeavor)",NaN,NaN
227,Carl J. Meade,1985.0,11.0,Retired,11/16/1950,"Chanute Air Force Base, IL",Male,University of Texas; California Institute of T...,Electronics Engineering,Electronics Engineering,Colonel,US Air Force (Retired),3,712,1,6.0,"STS-38 (Atlantis), STS-50 (Columbia), STS-64 (...",NaN,NaN
335,Carl E. Walz,1990.0,13.0,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
111,C. Michael Foale,1987.0,12.0,Active,1/6/1957,"Louth, England",Male,Cambridge University,Physics,Laboratory Astrophysics,NaN,NaN,6,8970,4,22.0,"STS-45 (Atlantis), STS-56 (Discovery), STS-63 ...",NaN,NaN
118,C. Gordon Fullerton,1969.0,7.0,Retired,10/11/1936,"Rochester, NY",Male,California Institute of Technology,Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force (Retired),2,382,0,0.0,"STS-3 (Columbia), STS 51-F (Challenger)",NaN,NaN
194,Byron K. Lichtenberg,NaN,NaN,Retired,2/19/1948,"Stroudsburg, PA",Male,Brown University; MIT,Aerospace Engineering,Mechanical Engineering; Biomedical Engineering,NaN,NaN,2,461,0,0.0,"STS-9 (Columbia), STS-45 (Atlantis)",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
245,Bryan D. O'Connor,1980.0,9.0,Retired,9/6/1946,"Orange, CA",Male,US Naval Academy; West Florida University,Engineering,Aeronautical Systems,Colonel,US Marine Corps (Retired),2,383,0,0.0,"STS 61-B (Atlantis), STS-40 (Columbia)",NaN,NaN
221,Bruce McCandless II,1966.0,5.0,Retired,6/8/1937,"Boston, MA",Male,US Naval Academy; Stanford University; Univers...,NaN,Electrical Engineering; Business Administration,Captain,US Navy (Retired),2,312,2,12.0,"STS 41-B (Challenger), STS-31 (Discovery)",NaN,NaN
228,Bruce E. Melnick,1987.0,12.0,Retired,12/5/1949,"New York, NY",Male,US Coast Guard Academy; West Florida University,Engineering,Aeronautical Systems,Commander,US Coast Guard (Retired),2,311,0,0.0,"STS-41 (Discovery), STS-49 (Endeavor)",NaN,NaN
246,Brian T. O'Leary,1967.0,6.0,Deceased,1/27/1940,"Boston, MA",Male,Williams College; Georgetown University; Unive...,Physics,Astronomy,NaN,NaN,0,0,0,0.0,NaN,7/28/2011,NaN
92,Brian Duffy,1985.0,11.0,Retired,6/20/1953,"Boston, MA",Male,US Air Force Academy; University of Southern C...,Mathematics,Systems Management,Colonel,US Air Force (Retired),4,977,0,0.0,"STS-45 (Atlantis), STS-57 (Endeavor), STS-72 (...",NaN,NaN
296,Brewster H. Shaw Jr.,1978.0,8.0,Retired,5/16/1945,"Cass City, MI",Male,University of Wisconsin,Engineering Mechanics,Engineering Mechanics,Colonel,US Air Force (Retired),3,533,0,0.0,"STS-9 (Columbia), STS 61-B (Atlantis), STS-28 ...",NaN,NaN
176,Brent W. Jett,1992.0,14.0,Retired,10/5/1958,"Pontiac, MI",Male,US Naval Academy; US Naval Postgraduate School,Aerospace Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1002,0,0.0,"STS-72 (Endeavor), STS-81 (Atlantis), STS-97 (...",NaN,NaN
94,Bonnie J. Dunbar,1980.0,9.0,Retired,3/3/1949,"Sunnyside, WA",Female,University of Washington; University of Houston,Ceramic Engineering,Ceramic Engineering; Biomedical Engineering,NaN,NaN,5,1207,0,0.0,"STS 61-A (Challenger), STS-32 (Columbia), STS-...",NaN,NaN
239,Bill Nelson,NaN,NaN,Retired,9/29/1942,"Miami, FL",Male,Yale University; University of Virginia,NaN,Law,Captain,US Army (Retired),1,146,0,0.0,STS 61-C (Columbia),NaN,NaN
148,Bernard A. Harris Jr.,1990.0,13.0,Retired,6/26/1956,"Temple, TX",Male,University of Houston; Texas Tech University,Biology,Medicine,NaN,NaN,2,438,1,5.0,"STS-55 (Columbia), STS-63 (Discovery)",NaN,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,12/29/1962,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaN,NaN
234,Barbara R. Morgan,1998.0,17.0,Retired,11/28/1951,"Fresno, CA",Female,Stanford University,Human Biology,NaN,NaN,NaN,1,305,0,0.0,STS-118 (Endeavor),NaN,NaN
99,Anthony W. England,1967.0,6.0,Retired,5/15/1942,"Indianapolis, IN",Male,MIT,Geology,Geology; Geophysics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
109,Anna L. Fisher,1978.0,8.0,Management,8/24/1949,"New York, NY",Female,University of California-Los Angeles,Chemistry,Chemistry; Medicine,NaN,NaN,1,191,0,0.0,STS 51-A (Discovery),NaN,NaN
316,Andrew S. W. Thomas,1992.0,14.0,Management,12/18/1951,"Adelaide, Australia",Male,University of Adelaide,Mechanical Engineering,Mechanical Engineering,NaN,NaN,4,4257,1,6.0,"STS-77 (Endeavor), STS-89/91 (Endeavor/Discove...",NaN,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
106,Andrew J. Feustel,2000.0,18.0,Active,8/25/1965,"Lancaster, PA",Male,Purdue University; Queen’s University-Canada,Solid Earth Sciences,Geophysics; Seismology,NaN,NaN,2,687,6,42.0,"STS-125 (Atlantis), STS-134 (Endeavor)",NaN,NaN
91,Alvin B. Drew Jr.,2000.0,18.0,Active,11/5/1962,"Washington, DC",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Physics & Astronautical Engineering,Aerospace Science; Political Science,Colonel,US Air Force,2,613,2,13.0,"STS-118 (Endeavor), STS-133 (Discovery)",NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
282,Albert Sacco Jr.,NaN,NaN,Retired,5/3/1949,"Boston, MA",Male,Northeastern University; MIT,Chemical Engineering,Chemical Engineering,NaN,NaN,1,381,0,0.0,STS-73 (Columbia),NaN,NaN
25,Alan L. Bean,1963.0,3.0,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
264,Alan G. Poindexter,1998.0,17.0,Deceased,11/5/1961,"Pasadena, CA",Male,Georgia Institute of Technology; US Naval Post...,Aerospace Engineering,Aeronautical Engineering,Captain,US Navy,2,669,0,0.0,"STS-122 (Atlantis), STS-131 (Discovery)",7/1/2012,NaN
297,Alan B. Shepard Jr.,1959.0,1.0,Deceased,11/18/1923,"East Derry, NH",Male,US Naval Academy,Naval Sciences,NaN,Rear Admiral,US Navy (Retired),2,216,2,9.0,"Mercury 3, Apollo 14",7/21/1998,NaN

Wenn du z.B. alle Namen in absteigender Reihenfolge durchgehen möchtest, empfiehlt es sich erst das ganze DataFrame zu sortieren und dann mit den sortierten Namen zu arbeiten.

In [ ]:
for name in df2["Name"]:
    print(name)